
<ng-template #content let-c="close" let-d="dismiss" class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Tramite</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="col-md-12 tram-serie-container" >
                    <div class="col-md-6 form-group">
                        <label for="nombreTramite">Tramite</label>
                        <input type="text" class="form-control" formControlName="nombreTramite" [ngClass]="{'is-invalid': submmited && f['nombreTramite'].errors, 'is-valid': f['nombreTramite'].valid}" >
                            <div *ngIf="f['nombreTramite'].errors" class="invalid-feedback">
                                <div *ngIf="f['nombreTramite'].errors?.['required']">El nombre del tramite es obligatorio</div>
                                <div *ngIf="f['nombreTramite'].errors?.['pattern']">Ingrese un nombre valido</div>
                            </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="serie">Serie</label>
                        <input type="text" class="form-control" formControlName="serieTramite" [ngClass]="{'is-invalid': submmited && f['serieTramite'].errors, 'is-valid': f['serieTramite'].valid}">
                            <div *ngIf="f['serieTramite'].errors" class="invalid-feedback">
                                <div *ngIf="f['serieTramite'].errors?.['required']">La serie del tramite es obligatorio</div>
                                <div *ngIf="f['serieTramite'].errors?.['pattern']">Ingrese una serie valida</div>
                            </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="descripcionTramite">Descripcion</label>
                    <input type="text" class="form-control descripcion" formControlName="descripcionTramite"  [ngClass]="{'is-invalid': submmited && f['descripcionTramite'].errors, 'is-valid': f['descripcionTramite'].valid}">
                        <div *ngIf="f['descripcionTramite'].errors" class="invalid-feedback">
                            <div *ngIf="f['descripcionTramite'].errors?.['required']">La descripcion del tramite es obligatorio</div>
                            <div *ngIf="f['descripcionTramite'].errors?.['pattern']">Ingrese una descripcion valida</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-modal-save" (click)="c('Save click')" >Guardar</button>
                </div>
            </form>
            
        </div>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)"> Agregar Tramite</button>