
<ng-template #content let-c="close" let-d="dismiss" class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar Usuario</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <form [formGroup]="form">
                <div class="col-md-12 tram-serie-container"  >
                    <div class="col-md-12 tram-serie-container">
                        <input type="hidden" name="">
                        <div class="col-md-6 form-group">
                            <label for="nombreTramite">Id del Usuario</label>
                            <input type="text" class="form-control"  [(ngModel)]="IdUsuario" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="serie">Nueva Contraseña</label>
                            <input type="text" class="form-control" formControlName="password"  [(ngModel)]="pswd"  [ngClass]="{'is-invalid': submmited && f['password'].errors, 'is-valid': f['password'].valid}">
                                <div *ngIf="f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['minlength']">La contraseña debe de tener un minimo de 6 carcateres</div>
                                    <div *ngIf="f['password'].errors?.['required']">La contraseña es obligatoria</div>
                                    <small *ngIf="f['password'].errors?.['pattern']">Se requiere un caracter especial(@#$%^&+=), mayuscula y minuscula.</small>
                                </div>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-modal-save" (click)="c('Save click')" (click)="restablecer()" >Restablecer</button>
                </div>
            </form>
            
        </div>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)" ></button>