<div class="row">
    <div class="col" >
        <a class="backarrow" routerLinkActive="active" routerLink="/Home"> <i class="ri-arrow-left-fill"></i> Atras</a>
    </div>
</div>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <h2>Registrar</h2>
        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Correo electronico" [ngClass]="{'is-invalid': submmited && f['email'].errors, 'is-valid': f['email'].valid}" >
          <div *ngIf="f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors?.['required']">El correo electronico es obligatorio</div>
            <div *ngIf="f['email'].errors?.['pattern']">Ingrese un correo electronico valido</div>
          </div>
        </div>

        <div class="form-group">
          <label for="userName">Usuario</label>
          <input formControlName="userName" type="text"   class="form-control" id="userName" aria-describedby="usuario" placeholder="Usuario" [ngClass]="{'is-invalid': submmited && f['userName'].errors, 'is-valid': f['userName'].valid}">
          <div *ngIf="f['userName'].errors" class="invalid-feedback">
            <div *ngIf="f['userName'].errors?.['required']">El Usuario es obligatorio</div>
            <div *ngIf="f['userName'].errors?.['pattern']">Ingrese unicamente caracteres alfabeticos</div>
          </div>
        </div>

        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input formControlName="firstName" type="text"  class="form-control" id="firstName" aria-describedby="Nombre" placeholder="Nombre" [ngClass]="{'is-invalid': submmited && f['firstName'].errors, 'is-valid': f['firstName'].valid}">
          <div *ngIf="f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors?.['required']">El Nombre es obligatorio</div>
            <div *ngIf="f['firstName'].errors?.['pattern']">Ingrese unicamente caracteres alfabeticos</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Apellidos</label>
          <input formControlName="lastName" type="text"  class="form-control" id="lastName" aria-describedby="lastName" placeholder="Apellidos" [ngClass]="{'is-invalid': submmited && f['lastName'].errors, 'is-valid': f['lastName'].valid}">
          <div *ngIf="f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors?.['required']">los Apellidos son obligatorios</div>
            <div *ngIf="f['lastName'].errors?.['pattern']">Ingrese unicamente caracteres alfabeticos</div>
          </div>
        </div>

        <div class="form-group">
          <label for="Password">Password</label>
          <input formControlName="password" type="password" class="form-control" id="Password" placeholder="Contraseña" [ngClass]="{'is-invalid': submmited && f['password'].errors, 'is-valid': f['password'].valid}">
          <div *ngIf="f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors?.['minlength']">La contraseña debe de tener un minimo de 6 carcateres</div>
            <div *ngIf="f['password'].errors?.['required']">La contraseña es obligatoria</div>
            <small *ngIf="f['password'].errors?.['pattern']">Se requiere un caracter especial(@#$%^&+=), mayuscula y minuscula.</small>
          </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirmar Contraseña" [ngClass]="{'is-invalid': submmited && f['confirmPassword'].errors, 'is-valid': f['confirmPassword'].valid}">
            <div *ngIf="f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">Las contraseñas deben de coincidir</div>
              <div *ngIf="f['confirmPassword'].errors?.['required']">La contraseña es obligatoria</div>
            </div>
          </div>
        <button type="submit" class="btn">Submit</button>
      </form>
</div>