.col{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
}
.backarrow:hover{
    color: var(--main-hover-color);
}
.backarrow{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
h2{
    margin-left: 125px;
}
.btn{
    background-color: var(--main-color);
    color: white;
    margin: 5px;
    margin-top: 15px;
    width: 25rem;
    border-radius: 7px;
}
.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--main-color);
}
.form-group{
    margin: 5px;
}
.form-control{
    background-color: var(--scnd-color);
    color: black;
    border-radius: 7px;
    width: 25rem;
    height: 3rem;
}
::placeholder{
    color: rgba(233, 233, 233, 0.438);
}
textarea{
    color: white;
}
textarea:focus,input:focus{
    color: white;
}
small{
    display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 0; /* change this to whatever height you want it */
}