<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="msg-options-container">
            <div class="title-container">
                <h3>Lista de Tramites</h3>
            </div>
            <div class="pwsd-container">
                <button class="btn btn-aggtramite">Agregar Tramite</button>                
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Serie</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tramitesList">
                    <td>{{item.nombreTramite}}</td>
                    <td>{{item.descripcionTramite}}</td>
                    <td>{{item.serieTramite}}</td>
                    <td>
                        <div ngbDropdown>
                            <button type="button" class="btn btn-opciones" ngbDropdownToggle>
                              Opciones
                            </button>
                            <div ngbDropdownMenu>
                                <a class="dropdown-item">Editar</a>
                                <a class="dropdown-item">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>