.container{
    margin-top: 5vh;
}
.title-container{
    margin: 1vh 0;
}
.msg-options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-aggtramite{
    background-color: var(--main-color);
    color: white;
    margin-right: 6vw;
}
.btn-aggtramite:hover{
    background-color: var(--main-hover-color);
    color: black;
}
.btn-opciones{
    background-color: var(--main-color);
    color: white;
}
.btn-opciones:hover{
    background-color: var(--main-hover-color);
    color: black;
}
.btn-opciones:focus,.btn-opciones:active,.btn-opciones:visited{
    outline: none;
    border: 2px var(--main-color);
    box-shadow:0 0 10px var(--main-hover-color);
}
a{
    cursor: pointer;
}
.child-modal{
    /* z-index: 100;
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    right: 0px; */
    
    left: 0px;
    position: absolute;
    width: 100%;
}
table{
    width: 100%;
}