<div class="row">
    <div class="col" >
        <a class="backarrow" routerLinkActive="active" routerLink="/Home"> <i class="ri-arrow-left-fill"></i> Atras</a>
    </div>
</div>
<div class="container">
    <form>
        <h2>Inciar sesion</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <a href=""><small>Olvide mi contraseña</small></a>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small>
              <a routerLinkActive="active" routerLink="/Registrar" href="#">No tienes cuenta?</a>
          </small>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
</div>
