<div class="container">
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="changeEmail()" >
            <div class="form-group" *ngFor="let item of userList">
                <label for="currentEmail">Correo Actual</label>
                <input type="text" id="currentEmail" class="form-control" formControlName="currentEmail" *ngFor="let item of userList" [ngModel]="item.email"  readonly >
            </div>
            <div class="form-group" *ngIf="userList.length == 0" >
                <label for="currentEmail">Correo Actual</label>
                <input type="text" id="currentEmail" class="form-control" formControlName="currentEmail" *ngIf="userList.length == 0" readonly >
            </div>
            <div class="form-group">
                <label for="newEmail">Correo Nuevo</label>
                <input type="text" id="newEmail" class="form-control" formControlName="newEmail">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn" type="submit"  >Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <div class="container">
    <mat-card>
        <mat-card-title>Cambiar Correo electronico</mat-card-title>
        <mat-card-content *ngFor="let item of userList">
            <p>
                <mat-form-field>
                    <mat-label >Correo Electronico Actual</mat-label>
                    <input matInput value="{{item.email}}" readonly="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label >Correo Electronico Nuevo</mat-label>
                    <input matInput >
                </mat-form-field>
            </p>
        </mat-card-content>
        <div class="row">
            <div class="col-md-12">
                <button class="btn" type="submit"  >Guardar Cambios</button>
            </div>
        </div>
    </mat-card>
</div> -->