<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Turno Actual</h2>
            <div class="col" >
                <h3 *ngFor="let item of last">{{item.turno}}</h3>
            </div>
        </div>
    </div>
    <div class="row btns">
        <div class="col-md-6">
            <button *ngFor="let item of last" (click)="turnoVencido(item.idTurno)" class="btn btn-vencido">
                Vencido
            </button>
        </div>
        <div class="col-md-6">
            <button *ngFor="let item of last" (click)="turnoFinalizado(item.idTurno)" class="btn btn-finalizado">
                Finalizado
            </button>
        </div>
    </div>
</div>

<div class="wavescontainer">
    <div class="footer">
        <img class="cajeroswaves" src="/assets/CajerosWaves.png" alt="" loading="lazy">
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Configuracion de caja</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <div class="dropdown-container">
                <label for="tramite" class="dropdown-label">Tramite</label>
				<select id="tramite" class="form-select" aria-label="Default select example" [(ngModel)]="Tramite">
					<option selected  *ngFor="let item of tramitesList" ngDefaultControl  [ngValue]="item.idTramite">{{item.nombreTramite}}</option>
				</select>
            </div>

            <div class="col-md-12">
                <label for="NumerodeCaja">Numero de Caja</label>
                <input name="NumerodeCaja" [(ngModel)]="NumCaja" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark btn-modal-save" (click)="c('Save click')" (click)="getLast()">Guardar</button>
    </div>
</ng-template>
  
<button class="btn btn-lg btn-outline-primary btn-modal" (click)="open(content)">Configurar Caja</button>