/* .row{
    justify-content: flex-end;
    
}
h2{
    margin-left: 100px;
}
h3{
    margin-left: 140px ;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: var(--main-color);
    color: white;
    position: absolute;
    height: 50px;
    width: 125px;
    border-radius: 10px;
    margin-left: 260px;
    top: 470px;
}

.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}
.wavescontainer{
    min-height: 100%;
}
.cajeroswaves{
    position:absolute;
    width: 100%;
    bottom: 0px;
}
.btn-modal{
    width: 9vw;
}
.configuracion{
    display: flex;
    flex-direction: column;

}
.dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-label{
    margin-right: 5px;
}
.btn-dropdown{
    position: initial;
    width: 15vw;
    
}

.btn-modal-save{
    position: inherit;
} */

.turno-actual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    
}
.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 68vw;

}
.btn{
    background-color: var(--main-color);
    color: white; 
    border-radius: 10px;
}
/* .btn-detener{
    background-color: var(--main-color);
    
    border-radius: 10px;
}
.btn-finalizado {
    background-color: var(--main-color);
    
    border-radius: 10px;
} */
.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}
.btn-modal{
    position: absolute;
    bottom: 0px;
    top: 0px;
    border-radius: 0px;
}