
<nav *ngIf="id != null" class="navbar navbar-expand-lg navbar-center" aria-label="site nav">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/Home">TT</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Tramites">Tramites</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Turnos">Turnos</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Cajeros">Cajeros</a>
    
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Catalogos</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="btn-dd" routerLinkActive="active" routerLink="/CatTramites" ngbDropdownItem>Catalogo de Tramites</button>
        <button class="btn-dd" routerLinkActive="active" routerLink="/Usuarios" ngbDropdownItem>Catalogo de Usuarios</button>
        <button class="btn-dd" routerLinkActive="active" routerLink="/Listaturnos" ngbDropdownItem>Lista de Turnos</button>
      </div>
    </div>
    <a class="nav-link" routerLinkActive="active" routerLink="/Graficas">Graficas</a>
    <div class="leftside">
      <a class="nav-item nav-link px-3 loggedin" routerLinkActive="active" routerLink="/Informacion"><span><i class="ri-user-line"></i></span> {{userName}}</a>
      <a class="nav-item nav-link px-3 loggedin" href="#" (click)="logOut()"><span><i class="ri-logout-box-line"></i></span> Cerrar Sesion</a>
    </div>
    
  </div>
</nav>
<nav *ngIf="id == null" class="navbar navbar-expand-lg navbar-center" aria-label="site nav"> 
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/Home">TT</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Tramites" href="#">Tramites</a>
    <a class="nav-link" routerLinkActive="active"  routerLink="/Turnos">Turnos</a>
    <a class="nav-link" routerLinkActive="active"  routerLink="/Cajeros">Cajeros</a>
    
    <a class="nav-item nav-link px-3" routerLinkActive="active" routerLink="/Login"><span><i class="ri-login-box-line"></i></span> Iniciar Sesion</a>
  </div>
</nav>


