
<nav *ngIf="id != null" class="navbar navbar-expand-lg navbar-center">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/Home">TT</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Tramites">Tramites</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Turnos">Turnos</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Cajeros">Cajeros</a>
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Catalogos</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button routerLinkActive="active" routerLink="/CatTramites" ngbDropdownItem>Catalogo de Tramites</button>
        <button routerLinkActive="active" routerLink="/Usuarios" ngbDropdownItem>Catalogo de Usuarios</button>
        
      </div>
    </div>
    <div class="leftside">
      <a class="nav-item nav-link px-3 loggedin" routerLinkActive="active" href="/Informacion">{{userName}}</a>
      <a class="nav-item nav-link px-3 loggedin" href="#" (click)="logOut()">Cerrar Sesion</a>
    </div>
    <!-- <a class="nav-item nav-link px-3" routerLinkActive="active" routerLink="/Login">Iniciar Sesion</a> -->
  </div>
</nav>
<nav *ngIf="id == null" class="navbar navbar-expand-lg navbar-center">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/Home">TT</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/Tramites" href="#">Tramites</a>
    <a class="nav-link" routerLinkActive="active"  href="/Turnos">Turnos</a>
    <a class="nav-link" routerLinkActive="active"  href="/Cajeros">Cajeros</a>
    
    <a class="nav-item nav-link px-3" routerLinkActive="active" routerLink="/Login">Iniciar Sesion</a>
  </div>
</nav>

