
.turno-actual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
}
.container-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    
}
.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 68vw;

}
.btn{
    background-color: var(--main-color);
    color: white; 
    border-radius: 10px;

}
/* .btn-detener{
    background-color: var(--main-color);
    
    border-radius: 10px;
}
.btn-finalizado {
    background-color: var(--main-color);
    
    border-radius: 10px;
} */
.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}
.btn-modal{
    position: absolute;
    bottom: 0px;
    top: 0px;
    border-radius: 0px;
    width: 0vw;
    white-space: nowrap;
    overflow: hidden;
    text-indent: -9999px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
.btn-modal:hover{
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 0.4s ease-in-out;
    width:10%;
    white-space:normal;
    text-indent: 30px;
}


.ng-dropdown-panel .ng-select-multiple .ng-select-bottom{
    background-color: violet;
    z-index: 100;
}

#ad28c4a18841{
    background-color: black;
}
.turnos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn__optcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btn__opt{
    width: 150px;
    height: 100px;
    margin: 10px;
}

.turn__options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.turn__actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ri-information-line{
   font-size: 40px;
}

.nocaja__form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.no__caja{
    width: 100%;
}
.status{
    color: var(--main-color);
}
.not__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 75px;
    right: 350px;
}

@media screen and (max-width:992px) {
    .turno-actual{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 15px;
    }
}

.mat__bottomsheet{
    outline:none;
    box-shadow: none;
}