<app-navbar></app-navbar>

<div class="container">
    <div class="container-options">
        <div class="row turno-row">
            <div class="col-md-12">
                <div class="turno-actual" *ngFor="let item of last" >
                    <span><i class="ri-information-line"></i></span>
                    <h4><span><i class="ri-ticket-line"></i></span> Turno Actual</h4>
                    <h3>{{item.turno}}</h3>
                    <div class="status__turno">
                        <h4><span><i class="ri-broadcast-line"></i></span> Status : {{status}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="turn__options">
            <button mat-stroked-button color="primary" class="btn__opt volver__llamada" *ngFor="let item of last" (click)="callTurn(item.turno)">
                <span><i class="ri-mic-line"></i></span> Volver a Llamar
            </button>
            <button mat-stroked-button color="primary" class="btn__opt atender" *ngFor="let item of last" (click)="turnoProceso(item.idTurno)">
                <span><i class="ri-chat-check-line"></i></span> Atender
            </button>
        </div>
        <div class="btn__optcontainer">
            <div class="turn__actions">
                <button mat-raised-button color="basic" class="btn__opt vencido" *ngFor="let item of last" (click)="turnoVencido(item.idTurno)"> 
                    <span><i class="ri-alert-line"></i></span> Vencido
                </button>
                <button mat-raised-button color="basic" class="btn__opt detener" *ngFor="let item of last" (click)="turnoDetenido(item.idTurno)">
                    <span><i class="ri-stop-circle-line"></i></span> Detener
                </button>
                <button mat-raised-button color="basic" class="btn__opt detener" *ngFor="let item of last" (click)="turnoFinalizado(item.idTurno)">
                    <span><i class="ri-check-line"></i></span> Finalizado
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Configuracion de caja</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <mat-form-field appearance="fill">
                <mat-label>Tramites</mat-label>
                <mat-select [formControl]="tramites" [(ngModel)]="tramite" multiple>
                  <mat-select-trigger >
                    {{'1' || ''}}
                    <span *ngIf="(tramites.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(tramites.value?.length || 0) - 1}} {{tramites.value?.length === 2 ? 'mas' : 'mas'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of tramitesList" [value]="item.idTramite">{{item.nombreTramite}}</mat-option>
                </mat-select>
            </mat-form-field>

            <form [formGroup]="form" class="nocaja__form">
                <mat-form-field class="no__caja">
                    <mat-label>Numero de Caja</mat-label>
                    <input matInput #input maxlength="2" name="NumerodeCaja" formControlName="NumCaja" type="text" [ngClass]="{'is-invalid':submmited && f['NumCaja'].errors , 'is-valid': f['NumCaja'].valid}" placeholder="Ex. 01"/>
                    <mat-hint align="end">{{input.value?.length || 0}}/2</mat-hint>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-modal-save" (click)="c('Save click')" (click)="getLast()" ><span><i class="ri-save-line"></i></span> Guardar</button>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)"><span><i class="ri-tools-line"></i></span> Configurar Caja</button>



