
<div class="col turnos__pendientes">
    <mat-card class="mat-elevation-z8">
        <div class="turnos__title">
            <p class="title">Pendientes</p>
        </div>
        <div class="turnos__container">
            <div class="turnos"  *ngFor="let item of Turnos | slice:0:7">
                <mat-nav-list>
                    <span mat-line class="turno">{{item.turno}}</span>
                </mat-nav-list>
                <!-- <p *ngFor="let item of Turnos | slice:0:7" class="turno">{{item.turno}}</p> -->
            </div>
        </div>
    </mat-card>
</div>

<div class="col llamados__container">
    <div class="turnos__llamadostitle">
        <p class="title">Llamados</p>
    </div>
    <div class="llamado__container">
            <mat-card class="mat-elevation-z8 llamado" *ngFor="let item of turnoLlamado" >
                <mat-nav-list class="navlist">
                    <span mat-line><h3>Turno: <b>{{item.turno}}</b><br></h3></span>
                    <span mat-line><h3>Caja: <b>{{item.caja}}</b></h3></span>    
                </mat-nav-list>
            </mat-card>        
    </div>
</div>
<div class="waves-container">
    <div class="footer">
        <div class="wave-container">
            <div class="wave">
                <img class="turnoswaves" src="assets/TurnosWaves.png" alt="" loading="lazy">
            </div>
        </div>
    </div>
</div>



