
 
.waves-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.turnoswaves{
    width: 100vw;
    position: absolute;
    bottom: 0px;   
}


.turnos__pendientes{
    position: relative;
    width: 13vw;
    top: 125px;
    left: 180px;
    background-color: #e9ecef ;
    border-radius: 15px;
}

.turnos__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.turnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title,.turno,.llamadoh{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
.title{
    font-weight: 800;
}
.llamados__container{
    position: absolute;
    width: 13vw;
    top: 125px;
    left: 600px;
    border-radius: 15px;
}
.turnos__llamadostitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.llamado__container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
}
.llamado{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 110px;
}
.navlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}