<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="turnos__container">
                <span class="pendientes">Pendientes</span>
                <div class="turno" *ngFor="let item of Turnos | slice:0:15;">
                    {{item.turno}}
                </div>  
            </div>
        </div>
        <div class="col-md-6 llamando__container" >
            <p class="llamando">Llamando</p>
            <div class="llamado__turno" >
                <div class="llamada" *ngFor="let item of turnoLlamado" >
                    <p>Turno : {{item.turno}}</p><br>
                    <p>Caja : {{item.caja}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="turnos__container">
        <div class="class__temp" *ngFor="let item of temp">
            Turnos en Ventanilla: {{item.turno}}
            <span>{{item.caja}}</span>
       </div>
        <div class="class__temp" *ngFor="let item of turnoActivo">
            Turno Activo: {{item.turno}}
            <span>{{item.caja}}</span>
       </div>
       <div class="class__temp" *ngFor="let item of Turnos">
            <span>{{item.turno}}</span>
        </div>
    </div>
    
</div> --> 

<!-- <div class="container">
    <div class="turnos__container">
        <p>Turnos Pendientes</p>
        <div class="turno" *ngFor="let item of Turnos">
            <span>{{item.turno}}</span>
        </div>
        <p>Turnos Proceso</p>
        <div class="turno" *ngFor="let item of Proceso">
            <span>{{item.turno}}</span>
            <br>
            <span>Caja: {{item.caja}}</span>
        </div>
        <p>Turno Activo</p>
        <div class="turno__activo" *ngFor="let item of turnoActivo">
            <span>{{item.turno}}</span>
            <br>
            <span>Caja: {{item.caja}}</span>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="turnosproceso__container">
                <div class="turnos__proceso" *ngFor="let item of Proceso">
                    <span>Turno: {{item.turno}}</span>
                    <br>
                    <span>Caja: {{item.caja}}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="turnoactivo__container">
                <div [ngClass]="calling ? 'calling__turn' : ''" *ngFor="let item of turnoActivo">
                    <span >Turno: {{item.turno}}</span>
                    <br>
                    <span>Caja: {{item.caja}}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="turnospedientes__container">
                <div class="turno__pendiente" *ngFor="let item of Turnos">
                    <span>{{item.turno}}</span>
                </div>
            </div>
        </div>
    </div>
   
</div> -->