/* 
.turnos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container{
    
    font-size: 35px;
}

.row{
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.turnosproceso__container{
    
    height: 35vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.turnoactivo__container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turnospedientes__container{
    
    height: 35vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row__container{
    height: 100vh ;
}
.row__video{
    position: absolute; 
    right: 0; 
    bottom: 0;
    max-width: 75%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    margin: 0px;
    padding: 0px;
    background-size: cover;
    overflow: hidden;
}

.calling__turn{
    animation: blinker 1s linear infinite;
    animation-iteration-count: 5;
    background-color: aquamarine;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  } */
.container{
    display: flex;
    flex-direction: column;
}
.turnos__container{
    width: 10vw;
    position: relative;
    top: 50px;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pendientes{
    font-size: 35px;
    font-weight: 500;
}
 .turno{
    font-size: 30px;
 }
 .llamando__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
 }
 .llamando{
    font-size: 40px;
 }
 .llamado__turno{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
 }
.llamada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 