
<div class="col turnos__pendientes">
    <div class="turnos__title">
        <p class="title">Pendientes</p>
    </div>
    <div class="turnos__container">
        <div class="turnos">
            <p *ngFor="let item of Turnos | slice:0:7" class="turno">{{item.turno}}</p>
        </div>
    </div>
</div>
<div class="col llamados__container">
    <div class="turnos__llamadostitle">
        <p class="title">Llamados</p>
    </div>
    <div class="llamado__container">
        <div *ngFor="let item of turnoLlamado" class="llamado">
            Turno: {{item.turno}}
            Caja: {{item.caja}}
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="turnos__container">
                <mat-card>
                    <mat-card-title>
                        <span class="pendientes">Pendientes</span>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="turno" *ngFor="let item of Turnos | slice:0:15;">
                            {{item.turno}}
                        </div>  
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-md-6 llamando__container" >
            <p class="llamando">Llamando</p>
            <div class="llamado__turno" >
                <div class="llamada" *ngFor="let item of turnoLlamado" >
                    <p>Turno : {{item.turno}}</p><br>
                    <p>Caja : {{item.caja}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="waves-container">
    <div class="footer">
        <div class="wave-container">
            <div class="wave">
                <img class="turnoswaves" src="assets/TurnosWaves.png" alt="" loading="lazy">
            </div>
        </div>
    </div>
</div>



