
<ng-template #content let-c="close" let-d="dismiss" class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar rol del Usuario</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <form [formGroup]="form" >
                <div class="col-md-12 tram-serie-container"  >
                    <div class="col-md-12 tram-serie-container">
                        <input type="hidden">
                        <div class="col-md-6 form-group" >
                            <label for="nombreTramite" >Usuario</label>
                            <input type="text" class="form-control" formControlName="userName" *ngFor="let item of usuarioList" [ngModel]="item.userName" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-container">
                    <label for="tramite" class="dropdown-label">Rol</label>
                    <select id="tramite" class="form-select"  aria-label="Default select example" [(ngModel)]="rolSel" [ngModelOptions]="{standalone: true}" >
                        <option selected  *ngFor="let item of rolesList"   [ngValue]="item.id">{{item.normalizedName}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-modal-save" (click)="c('Save click')" (click)="editarRole()" ><span><i class="ri-edit-line"></i></span> Editar</button>
                </div>
            </form>
            
        </div>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)" (click)="getUsuario()" ></button>
