/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}
.backarrow:hover{
    color: var(--main-hover-color);
}
.backarrow{
    text-decoration: none;
    color: black;
}
.col-md-4{
    border: black;
    overflow-y:scroll;
    height: 50vh;
}
.turno{
    padding: 10px;
    margin-left: 163px;
    
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover-color); 
  }
.wavescontainer{
    min-height: 100%;
    
}
.turnoswaves{
    position: absolute;
    width: 100%;
    bottom: 0px;   
} */

.container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    
}
.back-arrow{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.backarrow{
    text-decoration: none;
    color: var(--main-color);
    margin-top: 75px;
}
.backarrow:hover{
    color: var(--main-hover-color);
}

.proceso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.turnoinfo{
    background-color: var(--main-hover-color);
    margin: 5px;
    color: var(--bg-color);
    border-radius: 10px;
    font-family: var(--scnd-fontFamily);
}
.col-md-4{
    border: black;
    overflow-y:scroll;
    height: 50vh;
}
.turnos{
    padding: 10px;
    margin-left: 163px;
    font-family: var(--main-fontFamily);
}
::-webkit-scrollbar {
    width: 10px;
}

h3{
    font-size: 80px;
}