<div class="container">
    <div class="row">
        <div class="arrow-container">
            <div class="row back-arrow">
                <a class="backarrow" routerLinkActive="active" routerLink="/Home"> <i class="ri-arrow-left-fill"></i> Atras</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-4 turnos">
                <div class="turno-container" *ngFor="let item of Turnos">
                    <div class="turno">
                        <h5>{{item.turno}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 procesos">
            <div class="proceso-container" >
                <div class="col-md-3 turno-activo" *ngFor="let item  of turnoActivo">
                    <h1>{{item.turno}}</h1>
                    <h4>Caja: {{item.caja}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="turno-abajo-title">
        <div class="title-turnos">
            <h3>Turnos en Ventanilla</h3>
        </div>
        <div class="container turnos-abajo">
            <div class="turno-abajo-container">
                <div class="turno-abajo" *ngFor="let item of temp">
                    <h2>{{item.turno}}</h2>
                    <h5>Caja: {{item.caja}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="wavescontainer">
    <div class="footer">
        <img class="turnoswaves" src="/assets/TurnosWaves.png" alt="" loading="lazy">
    </div>
</div> -->
