/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: var(--main-hover-color); 
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
.wavescontainer{
    min-height: 100%;
    
}
.turnoswaves{
    position: absolute;
    width: 100%;
    bottom: 0px;   
} 

.arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.backarrow{
    text-decoration: none;
    color: var(--main-color);
}

.backarrow:hover{
    color: var(--main-hover-color);
}

.turnos{
    height: 50vh;
    
    overflow-y:scroll;

    
}
.turno-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: whitesmoke;


    margin: 5px;
    border-radius: 5px;
}

.proceso-container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      "TurnoActivo";  
    
}
.procesos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.turno-activo{
    background-color: var(--main-color);
    color: var(--bg-color);

    grid-area: TurnoActivo; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    width: 20vw;
    height: 25vh;
    border-radius: 10px;

    /* box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55); */

}
.turno-abajo-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);

    z-index: 100;
}


.turno-abajo-container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . . . . ."; 
    margin-left: 120px;
}


.turno-abajo{
    background-color: var(--main-color);
    color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    width: 8vw;
    height: 10vh;
    border-radius: 10px;

    z-index: 100;

    box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
}




  