<div class="container">
    <div class="row">
        <div class="col" >
            <a class="backarrow" routerLinkActive="active" routerLink="/Home"> <i class="ri-arrow-left-fill"></i> Atras</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="turno" *ngFor="let turno of turnosList">
                <h3>{{turno.turno}}</h3>
            </div>
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
</div>
<div class="wavescontainer">
    <div class="footer">
        <img class="turnoswaves" src="/assets/TurnosWaves.png" alt="" loading="lazy">
    </div>
</div>