<ng-template #content let-c="close" let-d="dismiss" class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar Tramite</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <form [formGroup]="form" *ngFor="let item of eliminarList">
                <div class="col-md-12 tram-serie-container" >
                    <div class="col-md-12 tram-serie-container">
                        <input type="hidden" name="" formControlName="idTramite" [ngModel]="item.idTramite" >
                        <div class="col-md-6 form-group">
                            <label for="nombreTramite">Tramite</label>
                            <input type="text" class="form-control" formControlName="nombreTramite" [ngModel]="item.nombreTramite" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="serie">Serie</label>
                            <input type="text" class="form-control" formControlName="serieTramite" [ngModel]="item.serieTramite" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="descripcionTramite">Descripcion</label>
                    <input type="text" class="form-control descripcion" formControlName="descripcionTramite" [ngModel]="item.descripcionTramite" readonly>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-modal-save" (click)="c('Save click')" (click)="eliminarTramite(item.idTramite)" ><span><i class="ri-delete-bin-2-line"></i></span> Eliminar</button>
                </div>
            </form>
            
        </div>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)" (click)="getTramite()"></button>