
<ng-template #content let-c="close" let-d="dismiss" class="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar Usuario</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body configuracion">
        <div class="config-container">
            <form [formGroup]="form" *ngFor="let item of usuarioList" >
                <div class="col-md-12 tram-serie-container"  >
                    <div class="col-md-12 tram-serie-container">
                        <input type="hidden" name="" formControlName="id" [ngModel]="item.id" >
                        <div class="col-md-6 form-group">
                            <label for="nombreTramite">Usuario</label>
                            <input type="text" class="form-control" formControlName="userName"  [ngModel]="item.userName" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="serie">Correo Electronico</label>
                            <input type="text" class="form-control" formControlName="email" [ngModel]="item.email" readonly>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-modal-save" (click)="c('Save click')" (click)="eliminarUsuario(item.id)" ><span><i class="ri-delete-bin-2-line"></i></span> Eliminar</button>
                </div>
            </form>
            
        </div>
    </div>
</ng-template>

<button class="btn btn-lg  btn-modal" (click)="open(content)" (click)="getUsuario()"></button>