.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title>p{
    font-size: 40px;
    font-family: var(--main-fontFamily);
}
.solid{
    width: 100%;
    background-color: black;
    height: 2px;
}
.settings-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.display-container{
    display: flex;
    justify-content: center;
}
.options-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
    
}
.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}

.btn:focus,.btn:active,.btn:visited{
    outline: none;
    border: 0.5px var(--main-color);
    box-shadow:0 0 10px var(--main-hover-color);
    background-color: var(--main-color);
    color: white;
}