<app-navbar></app-navbar>

<div class="main-content">
    <div class="container" >
        <div class="row tramites-container">
            <div class="col-md-3 btnprint" *ngFor="let item of turnosList" (click)="printTurno()">
                <button class="btn">Imprimir turno</button>
             </div>
            <div class="tramites" *ngIf="tramiteList.length >= 1">
                <div class="col-md-4" *ngFor="let item of tramiteList">
                    <button class=" btn btn-tramite" *ngIf="!printed" (click)="genTurno(item)">
                        {{item.nombreTramite}}
                    </button>
                    <button class=" btn btn-tramite" *ngIf="printed" disabled (click)="genTurno(item)">
                        {{item.nombreTramite}}
                    </button>     
                       
                </div>
            </div>
            <div class="tramites" *ngIf="tramiteList.length == 0" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <div class="col-md-4"  >
                   <h3>No hay tramites en memoria.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="waves-container">
        <div class="footer">
            <div class="wave-container">
                <div class="wave">
                    <img class="tramiteswaves" src="/assets/TramitesWavesmorado.png" alt="" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="print-container">
    <div class="turno-info">
        <div class="row">
            <div class="col-md-12 row-img">
                <div class="img-container">
                    <img class="logo-ticket" src="/assets/LogoTicket.png" alt="logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bienvenida-container">
                <div class="bg-negro">
                    <h4 class="bienvenida-mensaje">R. Ayuntamiento de Reynosa</h4>
                </div>
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <div class="mensaje-container">
                <div class="mensaje">
                    <h3 class="mensaje-ticket"><span id="primero">Bienvenido</span><span id="segundo">su turno es</span> </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 turno-container">
                <div class="turno" *ngFor="let item of turnosList">
                    <h3>Turno: <strong>{{item.turno}}</strong></h3>
                </div>
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <div class="fecha-container">
                <div class="fecha">
                    <h4>Gracias por su visita</h4>
                    <h3 id="date">{{datetime | date:'medium'}}</h3>
                </div>
            </div>
        </div>
        <hr class="solid">
    </div>
</div>

