<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3 btnprint" *ngFor="let turno of turnosList" (click)="printTurno()">
           Imprimir Turno
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4" *ngFor="let tramite of tramiteList" > 
            <a (click)="genTurno(tramite)">{{tramite.nombreTramite}}</a>
            
        </div>      
    </div>
</div>
<div class="footer">
    <img class="tramiteswaves" src="/assets/TramitesWavesmorado.png" alt="" loading="lazy">
</div>
<div class="reynosa">
    <div class="row datos">
        <div class="col">
            <img class="logoimg" src="/assets/LogoTicket.png" alt="" loading="lazy">
        </div>
        <div class="col">
            R. Ayuntamiento de Reynosa
        </div>
        <div class="col" *ngFor="let turno of turnosList">
            Turno : <b>{{turno.turno}}</b>
            
        </div>
        <div class="col">
            Gracias por su visita
        </div>
    </div>
</div>

