<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3 btnprint">
           Imprmir
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"> 
            <a href="#">Predial</a>
        </div>
        <div class="col-md-4">
            <a href="#">Predial Descuento</a>
        </div>
        <div class="col-md-4">
            <a href="#">Estados de Cuenta</a>
        </div>
             
    </div>
</div>
<div class="footer">
    <img class="tramiteswaves" src="/assets/TramitesWavesmorado.png" alt="" loading="lazy">
</div>




