.tramites{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 

    margin-top: 15vh;

    align-items: center;
}

.btn-tramite{
    background-color: var(--main-color);
    color: white;

    box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
}

.btn-tramite:hover{
    background-color: var(--main-hover-color);
    color: black;
}

.main-content{
    height: 100%;
}

.container{
    min-height: 100%;
    position: relative;
}

.waves-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.tramiteswaves{
    width: 100vw;
    position: absolute;
    bottom: 0px;   
}

.btnprint>.btn{
    background-color: var(--main-color);
    color: white;

    border-radius: 10px ;

    position: absolute;
    z-index: 100;
    width: 8vw;
    height: 8vh;
    transform: translateX(54em);

    box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -webkit-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: -2px 14px 24px -1px rgba(0,0,0,0.55);

    animation-name: print-turno;
    animation-duration: 0.8s;
}
@keyframes print-turno {
    from{
        transform: translateX(0em);
    }
    to{
        transform: translateX(55em);
    }
}

.btnprint>.btn:hover{
    background-color: var(--main-hover-color);
    color: black;
}

.print-container{
    display: none;
}
.ng-tns-c106-1 .ng-star-inserted .ng-trigger .ng-trigger-flyInOut .ngx-toastr .toast-success{
    display:none !important;
}

@media print{
    .main-content,app-navbar{
        display: none;
    }
    
    .print-container{
        display: block;
        min-width: 100%;
    }
    .row-img{
        width: 75vw;
    }
    .logo-ticket{
        width: 245px;
    }
    .bienvenida-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .bienvenida-mensaje{
        color: black;
        font-weight: bolder;
        font-size: 15px;   
    }
    hr.solid {
        border-top: 3px solid black;
    }
    .mensaje-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mensaje-ticket{
        font-size: 18px;
    }

    #primero::after{
        content: "\a";
        white-space: pre;
    }
    
    .turno-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fecha-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .fecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #date{
        font-size: 10px;
    }
}